Name: Neha Gurudatta Devarkonda

email_id: devarkondaneha02@gmail.com

Task1 - Completed Data Cleaning and Preprocessing.

Using Python-pandas

Dataset:-  Medical Appointment No Shows Dataset

In [11]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/noshowappointments.csv")

print("Initial Rows:")
print(df.head())

print("\nDataset Info:")
print(df.info())

# Move column renaming to an earlier stage
df.columns = df.columns.str.lower().str.replace(" ", "_")
print("\nNew Column Names (after initial standardization):")
print(df.columns)

print("\nMissing Values:")
print(df.isnull().sum())

# Example handling:
# Filling missing age with median
if "age" in df.columns:
    df["age"].fillna(df["age"].median(), inplace=True)

# Fill missing gender with mode
if "gender" in df.columns:
    df["gender"].fillna(df["gender"].mode()[0], inplace=True)

# Drop rows where any appointment date is missing
date_columns = ["scheduledday", "appointmentday"]
for col in date_columns:
    if col in df.columns:
        df.dropna(subset=[col], inplace=True)

initial_count = df.shape[0]
df.drop_duplicates(inplace=True)
final_count = df.shape[0]

print(f"\nRemoved {initial_count - final_count} duplicate rows.")

if "gender" in df.columns:
    df["gender"] = df["gender"].str.lower().str.strip()
    df["gender"] = df["gender"].replace({
        "m": "male",
        "f": "female"
    })

if "no-show" in df.columns:
    df["no-show"] = df["no-show"].str.strip().str.lower()
    df["no-show"] = df["no-show"].replace({
        "no": "no",
        "yes": "yes",
        "n": "no",
        "y": "yes"
    })

# Fix negative ages
if "age" in df.columns:
    df = df[df["age"] >= 0]

# Optional: remove extreme values
if "age" in df.columns:
    df = df[df["age"] <= 120]

for col in ["scheduledday", "appointmentday"]:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors="coerce")

df.dropna(subset=["scheduledday", "appointmentday"], inplace=True)

df["scheduledday"] = df["scheduledday"].dt.strftime("%d-%m-%Y")
df["appointmentday"] = df["appointmentday"].dt.strftime("%d-%m-%Y")

# This line was moved up
# df.columns = df.columns.str.lower().str.replace(" ", "_")

print("\nNew Column Names (final):")
print(df.columns)

if "age" in df.columns:
    df["age"] = df["age"].astype(int)

if "no-show" in df.columns:
    df["no-show"] = df["no-show"].astype("category")

print("\nFinal Dataset Info:")
print(df.info())

print("\nFinal Summary Statistics:")
print(df.describe(include="all"))

df.to_csv('/content/sample_data/noshowappointments.csv', index=False)
print("\nCleaned dataset exported successfully!")

Initial Rows:
      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589978e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262962e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679512e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841186e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood  Scholarship  Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA            0             1
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             0
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA            0             0
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI            0             0
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA            0             1

   Diabetes  Alcoholism  Handcap  SMS_received No-show
0         0           0        0             0      No
1         0           0        0             0      No
2         0           0        0             0      No
3         0           0        0             0      No
4         1           0        0             0      No

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   PatientId       110527 non-null  float64
 1   AppointmentID   110527 non-null  int64
 2   Gender          110527 non-null  object
 3   ScheduledDay    110527 non-null  object
 4   AppointmentDay  110527 non-null  object
 5   Age             110527 non-null  int64
 6   Neighbourhood   110527 non-null  object
 7   Scholarship     110527 non-null  int64
 8   Hipertension    110527 non-null  int64
 9   Diabetes        110527 non-null  int64
 10  Alcoholism      110527 non-null  int64
 11  Handcap         110527 non-null  int64
 12  SMS_received    110527 non-null  int64
 13  No-show         110527 non-null  object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB
None

New Column Names (after initial standardization):
Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'],
      dtype='object')

Missing Values:
patientid         0
appointmentid     0
gender            0
scheduledday      0
appointmentday    0
age               0
neighbourhood     0
scholarship       0
hipertension      0
diabetes          0
alcoholism        0
handcap           0
sms_received      0
no-show           0
dtype: int64

/tmp/ipython-input-802348273.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["age"].fillna(df["age"].median(), inplace=True)
/tmp/ipython-input-802348273.py:27: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["gender"].fillna(df["gender"].mode()[0], inplace=True)

Removed 0 duplicate rows.

New Column Names (final):
Index(['patientid', 'appointmentid', 'gender', 'scheduledday',
       'appointmentday', 'age', 'neighbourhood', 'scholarship', 'hipertension',
       'diabetes', 'alcoholism', 'handcap', 'sms_received', 'no-show'],
      dtype='object')

Final Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 110526 entries, 0 to 110526
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   patientid       110526 non-null  float64
 1   appointmentid   110526 non-null  int64
 2   gender          110526 non-null  object
 3   scheduledday    110526 non-null  object
 4   appointmentday  110526 non-null  object
 5   age             110526 non-null  int64
 6   neighbourhood   110526 non-null  object
 7   scholarship     110526 non-null  int64
 8   hipertension    110526 non-null  int64
 9   diabetes        110526 non-null  int64
 10  alcoholism      110526 non-null  int64
 11  handcap         110526 non-null  int64
 12  sms_received    110526 non-null  int64
 13  no-show         110526 non-null  category
dtypes: category(1), float64(1), int64(8), object(4)
memory usage: 11.9+ MB
None

Final Summary Statistics:
           patientid  appointmentid  gender scheduledday appointmentday  \
count   1.105260e+05   1.105260e+05  110526       110526         110526
unique           NaN            NaN       2          111             27
top              NaN            NaN  female   03-05-2016     06-06-2016
freq             NaN            NaN   71839         4238           4691
mean    1.474934e+14   5.675304e+06     NaN          NaN            NaN
std     2.560943e+14   7.129544e+04     NaN          NaN            NaN
min     3.921784e+04   5.030230e+06     NaN          NaN            NaN
25%     4.172536e+12   5.640285e+06     NaN          NaN            NaN
50%     3.173184e+13   5.680572e+06     NaN          NaN            NaN
75%     9.438963e+13   5.725523e+06     NaN          NaN            NaN
max     9.999816e+14   5.790484e+06     NaN          NaN            NaN

                  age   neighbourhood    scholarship   hipertension  \
count   110526.000000          110526  110526.000000  110526.000000
unique            NaN              81            NaN            NaN
top               NaN  JARDIM CAMBURI            NaN            NaN
freq              NaN            7717            NaN            NaN
mean        37.089219             NaN       0.098266       0.197248
std         23.110026             NaN       0.297676       0.397923
min          0.000000             NaN       0.000000       0.000000
25%         18.000000             NaN       0.000000       0.000000
50%         37.000000             NaN       0.000000       0.000000
75%         55.000000             NaN       0.000000       0.000000
max        115.000000             NaN       1.000000       1.000000

             diabetes     alcoholism        handcap   sms_received no-show
count   110526.000000  110526.000000  110526.000000  110526.000000  110526
unique            NaN            NaN            NaN            NaN       2
top               NaN            NaN            NaN            NaN      no
freq              NaN            NaN            NaN            NaN   88207
mean         0.071865       0.030400       0.022248       0.321029     NaN
std          0.258266       0.171686       0.161543       0.466874     NaN
min          0.000000       0.000000       0.000000       0.000000     NaN
25%          0.000000       0.000000       0.000000       0.000000     NaN
50%          0.000000       0.000000       0.000000       0.000000     NaN
75%          0.000000       0.000000       0.000000       1.000000     NaN
max          1.000000       1.000000       4.000000       1.000000     NaN

Cleaned dataset exported successfully!